@use 'variables' as *;

.features-menu-wrapper {
  position: absolute;
  right: 45px;
  top: 85px;
  background-color: $text-light;
  box-shadow: $box-shadow;
  border-radius: 10px;
  display: grid;
  cursor: pointer;
  user-select: none;
  width: 30px;
  height: 30px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.features-icon {
  width: 25px;
}
.features-notifications {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: $primary;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $text-light;
  text-align: center;
  color: $text-light;
  font-size: 0.8em;
}
@media screen and (max-width: 768px) {
  .features-menu-wrapper {
    top: 50%;
    right: 15px;
    transform: translateY(calc(-50% - 55px));
  }
}