@import 'global';

.menu {
  background: $panel-bg;
  display: grid; 
  align-content: start;
  color: $text-light;
  font-size: 16px;
  white-space: nowrap;
  padding: 10px;
  padding-top: 20px;
  overflow: hidden;
  z-index: 6;
}
@media screen and (max-width: 768px) {
  .menu {
    display: flex; 
    justify-content: space-between;
    padding: 0;
  }
}