@import 'global';

body {
  margin: 0;
  font-family: $font-family;
  color: $text-dark;
  line-height: 1.6;
}
.app {
	display: grid; 
	overflow: hidden;
	height: 100vh;
	grid-template-columns: min-content auto;
	grid-template-rows: min-content auto;
	grid-template-areas: 
		"lg ly"
		"na ly"
}
.logo {
	grid-area: lg;
}
.navigation {
	grid-area: na
}
.layout {
	grid-area: ly;
	position: relative;
}
@media screen and (max-width: 768px) {
	.app {
		grid-template-columns: auto;
		grid-template-rows: min-content auto min-content;
		grid-template-areas: 
			"lg"
			"ly"
			"na";
	}	
}