.header {
	grid-area: hd;
}
.nav-wrapper {
	grid-area: nw
}
.map-wrapper {
	grid-area: mw;
	position: relative;
}
.main {
	display: grid; 
	grid-template-columns: min-content auto;
	grid-template-rows: min-content auto;
	grid-template-areas: 
		"hd mw"
		"nw mw"
}
@media screen and (max-width: 768px) {
	.main {
		grid-template-columns: auto;
		grid-template-rows: min-content auto min-content;
		grid-template-areas: 
			"hd"
			"mw"
			"nw";
	}	
}