.map-pin-wrapper {
    justify-self: center;
    align-self: center;
}
.maps-go-circle {
    width: 42px;
    height: 42px;
}
.maps-custom-cursor {
    position: fixed;
    transform: translateY(-15px);
    pointer-events: none;
    z-index: 6;
}