@use 'variables' as *;

.mapboxgl-ctrl-group {
	margin-right: 45px !important;
	margin-bottom: 75px !important;
	border-radius: 10px !important;
	box-shadow: $box-shadow !important;
}
.mapboxgl-ctrl-geolocate {
	width: 40px !important;
	height: 40px !important;
	padding: 5px !important;
	align-self: center !important;
	justify-self: center !important;
}

@media screen and (max-width: 768px) {
  .mapboxgl-ctrl-group {
    margin-right: 15px !important;
    margin-bottom: 105px !important;
  }
  .geolocation-wrapper {
  	bottom: 205px;
  	right: 15px;
  }
  .geolocate-tooltip {
  	display: none;
  }
}