@use 'variables' as *;

.basemap-selector {
  position: absolute;
  right: 45px;
  bottom: 45px;
  padding: 10px;
  display: flex;
  gap: 10px;
  background-color: $text-light;
  border-radius: 20px;
  max-width: calc(100% - 50px);
  z-index: 4;
}
.thumbnail-container {
  border-radius: 5px;
  padding: 5px 10px;
}
.thumbnail-container:hover {
  background-color: $light-bg;
}
.thumbnail {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 60px;  
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}
.basemaps-cross-wrapper {
  display: grid; 
  align-content: end; 
  padding-bottom: 20px; 
  padding-right: 5px; 
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .basemap-selector {
    right: 15px;
    bottom: 95px;
  }
}